.chart-bar {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 1.25rem;
  border: 1px solid var(--color-background);
  border-radius: 12px;
  background: var(--gradient-one);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__inner::before {
  content: "";
  background: var(--gradient-two);
  opacity: 0.5;
  width: 0.75rem;
  height: 10rem;
  filter: blur(0.3em);
  mix-blend-mode: screen;
}

.chart-bar__fill {
  background: var(--gradient-three);
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
}
