.expenses-filter {
  /* color: var(--color-text);
  padding: 1rem;
  margin: 2rem; */
  background-color: var(--color-light);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 100%;
  /* border-radius: 12px; */
  text-align: center;
  /* border: 2px solid chartreuse; */
}

.expenses-filter__control {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  /* margin: 2rem 0;
  width: 50rem;
  max-width: 95%; */
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
}
